@import "tailwindcss";

@font-face {
  font-family: 'Tiali';
  src: url('/fonts/Tiali #1.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #903240;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-tiali: 'Tiali', serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Tiali', serif;
}
